//
// A simple Sass file.
// 

$main-background: #c5e2b1;
$secondary-color: #e2b1c9;
$header-background: #abb6c9;
$header-text-color: #051838;

// TODO:
// Hmm, this trick requires recompiling Bootstrap
$grid-columns:               12 !default;
$grid-gutter-width-base:     120px !default;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
) !default;


p {
  font-size: .9em;
}

.standard-block {
  background-color: $main-background;
  border-radius: 6px;
}

.secondary-block {
  background-color: $secondary-color;
  border-radius: 6px;
}

.custom-container {
  padding: 1em 1em 1em 3em;
  border-radius: 10px;
  background-color: $header-background;
}

.header-title {
  color: $header-text-color
}

.row {
  padding-top: 1em;
}

.navbar-custom .navlink {
  color: $header-text-color;
}
.navbar-custom {
  background-color: $header-background;
  /* 
   * TIP: Unset the background image to 
   * override default color of the navbar 
   */
  background-image: none; 
}
